@import '../../../animations/animations.scss';

.newProduct__Main {
	position: relative;
	width: 114rem;
	background-color: #fff;
	margin-top: 1.4rem;
	margin-bottom: 10.1rem;
	// padding-top: 6.2rem;
	padding-left: 1.9rem;
	animation: transit 0.3s ease-out;

	&__buttons {
		display: flex;
		justify-content: space-between;
		width: 37.7rem;
		margin-left: 29.2rem;
		margin-top: 6.9rem;
	}

	&__edit {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		top: 3rem;
		right: 3rem;
		width: 15rem;
		height: 8rem;

		&__text {
			font-size: 1.8rem;
			font-weight: bold;
		}

		&__changeBtn {
			border-radius: 1.5rem;
			height: 4rem;
			width: 10rem;
			border: none;
			cursor: pointer;
			background-color: #ffba0a;
			color: white;
			outline: none;
		}
	}
}
