.newProduct__nav__links {
	display: flex;
	width: 32.1rem;
	height: 4.5rem;
	margin-top: 6.2rem;

	font-family: 'PT Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 2.2rem;
	line-height: 2.8rem;

	color: #ffffff;

	&__main {
		width: 14.7rem;
		border-bottom: 0.2rem solid #888888;

		&__text {
			cursor: pointer;
		}
	}

	&__createProduct {
		width: 17.4rem;
		border-bottom: 0.2rem solid #edb014;
	}
}
