.productList__field__filter__wrapper {
	position: absolute;
	height: 86.1rem;
	width: 49rem;
	z-index: 8;
	border-radius: 0.5rem;
	top: 7.6rem;
}

.productList__field__filter {
	position: relative;
	height: 100%;
	width: 100%;
	border-radius: 0.5rem;
	border: 1px solid #888888;
	background-color: #fff;

	&__closeIcon {
		position: absolute;
		width: 2.5rem;
		height: 2.5rem;
		top: 2rem;
		right: 2.35rem;
		cursor: pointer;
	}

	&__header {
		display: flex;
		height: 3.1rem;
		width: 100%;
		padding-left: 4rem;
		margin-top: 6.2rem;

		&__text {
			font-family: 'PT Sans';
			font-style: normal;
			font-weight: bold;
			font-size: 2rem;
			line-height: 2.6rem;
			padding-top: 0.5rem;

			color: #212121;
		}

		&__icon {
			margin-left: 11rem;
			// padding-bottom: 1rem;
			width: 6.2rem;
			height: 3rem;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 53.5rem;
		width: 38rem;
		margin-left: 3.5rem;
		margin-top: 4.3rem;
	}

	&__footer {
		display: flex;
		justify-content: center;
		margin-top: 8.1rem;
		width: 100%;
		height: 5rem;

		&__button {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 14rem;
			background: #ffba0a;
			border-radius: 1.5rem;
			border: none;

			font-family: 'Roboto';
			font-style: normal;
			font-weight: bold;
			font-size: 1.8rem;
			line-height: 2.1rem;

			color: #ffffff;
			cursor: pointer;
		}
	}
}
