.newProduct__field {
	width: 114rem;
	height: 138.9rem;
	background-color: #fff;
	margin-top: 1.4rem;
	margin-bottom: 10.1rem;
	padding-top: 6.2rem;
	padding-left: 1.9rem;

	&__buttons {
		display: flex;
		justify-content: space-between;
		width: 37.7rem;
		margin-left: 29.2rem;
		margin-top: 6.9rem;
	}
}
