.sendListing__body__alert {
	display: flex;
	align-items: center;
	width: 63.8rem;
	height: 8rem;
	padding-left: 3.1rem;

	// background-color: rgba(172, 239, 140, 0.58); green
	// background-color: rgba(255, 66, 66, 0.76); red
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 2.2rem;
	line-height: 2.6rem;

	color: #000000;
}
