.newProduct__field__button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1.5rem;
	height: 5rem;
	border: 'none';
	cursor: pointer;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: bold;
	font-size: 1.8rem;
	line-height: 2.1rem;

	color: #ffffff;

	&__input {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		right: 0;
		opacity: 0;
		cursor: pointer;
	}
}
