@import '../../animations/animations.scss';

.Main__wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 114rem;
	height: 54.9rem;
	margin: 0 auto;
	margin-top: 6.7rem;
	margin-bottom: 7.3rem;
	background: url('../../assets/images/BG_main.jpg') no-repeat;
	animation: transit 0.3s ease-out;
}
