.newProduct__Field__inputBlock__input {
	position: relative;
	width: 37rem;
	height: 100%;
	border: 0.1rem solid #888888;
	border-radius: 1.5rem;
	outline: none;
	padding-left: 2.6rem;

	font-family: 'PT Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 2.3rem;

	color: #000000;
}
