@import '../../../animations/animations.scss';

.newProduct__sizes {
	position: relative;
	width: 114rem;
	height: 56.8rem;
	background-color: #fff;
	margin-top: 1.4rem;
	margin-bottom: 10.1rem;
	padding-top: 7.8rem;
	padding-left: 1.9rem;
	animation: transit 0.3s ease-out;

	&__wrapper {
		display: flex;
		width: 100%;
		height: 37rem;
	}

	&__left-col {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 50.4rem;
	}

	&__right-col {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 13.5rem;
		height: 37rem;
		margin-left: 2.4rem;

		&__desc {
			position: absolute;
			top: -3rem;
			font-family: 'PT Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 1.8rem;
			line-height: 2.3rem;

			color: #000000;
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 12rem;
	}
}
