.variationText {
	display: flex;
	justify-content: space-between;
	width: 61rem;
	height: 13rem;
	margin-top: 2.6rem;

	&__label {
		padding-top: 1.3rem;
		font-family: 'PT Sans';
		font-style: normal;
		font-weight: normal;
		font-size: 1.8rem;
		line-height: 2.3rem;

		color: #212121;
	}

	&__textarea {
		padding: 1rem;
		width: 37rem;
		height: 13rem;
		border-radius: 1.5rem;
		border: 0.1rem solid #888888;
		resize: none;
		outline: none;
		font-size: 2rem;
	}
}
