.productList__lookPhoto {
	display: flex;
	position: relative;
	height: 100%;
	width: 100%;

	&__wrapper {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 123.9rem;
		height: 90rem;
		// background-color: gray;
		background-color: white;
		z-index: 7;
	}

	.close {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 3rem;
		height: 3rem;
		top: 2rem;
		right: 2rem;
		cursor: pointer;

		.icon {
			width: 2rem;
			height: 2rem;
		}
	}

	&__leftSlider {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 46rem;
		height: 100%;

		.arrow-top,
		.arrow-bottom {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 11rem;

			.icon {
				cursor: pointer;
				// width: 3rem;
			}
		}

		.slider {
			display: grid;
			grid-template-rows: 1fr 1fr 1fr;
			// grid-gap: 1rem;
			justify-content: center;
			// flex-direction: column;
			// justify-content: space-between;
			align-items: center;
			flex: 1 1 auto;
			width: 100%;
			// background-color: white;

			.photo {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 18rem;
				height: 20rem;
				font-size: 2rem;
				cursor: pointer;

				.image {
					width: 100%;
					height: 20rem;
				}
			}
		}
	}

	&__rightSlider {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		// justify-content: center;

		.type {
			display: flex;
			align-items: center;
			height: 6rem;
			width: 100%;
			padding-left: 8rem;
			margin-top: 6rem;

			font-family: 'Roboto';
			font-style: normal;
			font-weight: normal;
			font-size: 2.4rem;
			line-height: 2.8rem;

			color: #000000;
		}

		.image {
			display: flex;
			align-items: center;
			width: 65rem;
			height: 65rem;

			.left-arrow,
			.right-arrow {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 5rem;
				height: 5rem;
				cursor: pointer;

				.icon {
					width: 3rem;
				}
			}

			.image {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1 1 auto;
				height: 100%;
				font-size: 3rem;
				// background-color: gray;

				.photo {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
