.newProduct__fieldPhoto {
	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 16.2rem;
		width: 100%;
	}

	&__input {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 2.6rem;
		height: 14.1rem;

		.file {
			display: flex;
			align-items: center;
			height: 100%;
			padding-top: 3rem;

			font-family: 'PT Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 1.8rem;
			line-height: 2.3rem;

			.filename {
				padding-left: 3rem;
				font-weight: bold;
			}
		}
	}

	&__horizontal {
		width: 110.2rem;
		margin-top: 2rem;
		border: none;
		border-bottom: 0.1rem solid #888888;
		box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		width: 31.9rem;
		height: 5rem;
		margin: 0 auto;
		margin-top: 30rem;
		margin-bottom: 5rem;
	}

	&__addPhotoIcon {
		position: relative;

		&__icon {
			cursor: pointer;
		}

		&__wrapper {
			position: absolute;
			right: 6.5rem;
			top: 2.2rem;
			// cursor: pointer;
		}
	}

	&__remove {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 1rem;
		width: 4rem;
		height: 4rem;

		.remove-icon {
			width: 1.5rem;
			height: 1.5rem;
			cursor: pointer;
			transition: 0.3s;

			&:hover {
				transform: scale(1.3);
				transition: 0.3s;
			}
		}
	}
}
