.newProduct__fieldPhoto {
	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 16.2rem;
		width: 100%;
	}

	&__input {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 2.6rem;
		height: 14.1rem;
	}

	&__horizontal {
		width: 110.2rem;
		margin-top: 2rem;
		border: none;
		border-bottom: 0.1rem solid #888888;
		box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		width: 31.9rem;
		height: 5rem;
		margin: 0 auto;
		margin-top: 30rem;
		margin-bottom: 5rem;
	}

	&__addPhotoIcon {
		position: absolute;
		right: 5.2rem;
		top: 2.2rem;
		cursor: pointer;
	}
}
