.loadPhoto__wrapper {
	position: absolute;
	top: 7.8rem;
	left: 3.1rem;
	width: 36.6rem;
	height: 28.2rem;
	background-color: #fff;
	border: 0.1rem solid #888888;
	border-radius: 0.5rem;
	z-index: 7;
}

.loadPhoto {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100%;

	&__icon {
		position: absolute;
		top: 1.2rem;
		right: 1.8rem;
		cursor: pointer;
	}
}
