.MenuBlock__wrapper {
	position: relative;
	width: 16.4rem;
	height: 16.4rem;
	background-color: #fff;
	border: 0.1rem solid #888888;
	border-radius: 1.5rem;
	-webkit-box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
	box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
	border: 0.1rem solid #808288;
	cursor: pointer;

	&:hover {
		border: 0.2rem solid #c41a32;
	}
}

.MenuBlock {
	&__icon {
		text-align: center;
		margin-top: 3.9rem;
		padding-left: 1rem;
	}

	&__title {
		font-family: 'PT Sans';
		font-style: normal;
		font-weight: normal;
		font-size: 1.8rem;
		line-height: 2.3rem;
		padding-top: 0.7rem;
		color: #212121;
		width: 100%;
		text-align: center;
	}
}
