.parent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 73.6rem;
	height: 5rem;

	&__select {
		position: absolute !important;
		top: 50%;
		transform: translateY(-50%);
		left: 32.5rem;
		z-index: 2;
		opacity: 0;
	}

	&__label {
		font-family: 'PT Sans';
		font-style: normal;
		font-weight: normal;
		font-size: 1.8rem;
		line-height: 2.3rem;

		color: #212121;
	}

	&__input {
		&__wrapper {
			display: flex;
			justify-content: space-between;
			width: 50rem;
			position: relative;
		}

		&__icon {
			position: absolute;
			top: 1.8rem;
			// right: 0.8rem;
			left: 33rem;
			cursor: pointer;
		}

		&__isParent {
			width: 10rem;
			height: 5rem;
		}

		width: 37rem;
		height: 5rem;
		border-radius: 1.5rem;
		border: 0.1rem solid #888888;
		outline: none;

		padding-left: 2.6rem;
		font-family: 'PT Sans';
		font-style: normal;
		font-weight: normal;
		font-size: 1.8rem;
		line-height: 2.3rem;

		color: #000000;
	}
}

.MuiMenu-paper {
	width: 20rem !important;
	max-height: 30rem !important;
}

.MuiListItem-root {
	font-size: 2rem !important;
}

.MuiSelect-select {
	width: 2rem !important;
}
