.input__wrapper {
	// display: grid;
	// grid-template-columns: 1fr 2fr;
	// grid-template-rows: 1fr;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 4rem;

	.input {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 100%;
		border: 0.1rem solid rgb(141, 141, 141);
		outline: none;
		border-radius: 1rem;
		padding: 0 1rem 0 1rem;
	}
}
