.input__wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	width: 100%;
	height: 10rem;

	.label,
	.input {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.input {
		width: 70%;
		height: 100%;
		border-radius: 1.5rem;
	}
}
