.newProduct__field__button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1.5rem;
	height: 5rem;
	border: 'none';
	cursor: pointer;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: bold;
	font-size: 1.8rem;
	line-height: 2.1rem;

	color: #ffffff;
}
